@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActionName</title>
</head>
<body>
    <div>Nazwa kontrolera: @ViewBag.Controller</div> 
    <div>Nazwa akcji: @ViewBag.Action</div> 
</body>
</html>