@model ModelValidation.Models.Appointment
@{
    ViewBag.Title = "Potwierdzenie";
}
<h4>Wizyta została potwierdzona</h4>
<p>Twoje nazwisko: <b>@Html.DisplayFor(m => m.ClientName)</b></p>
<p>Data wizyty: <b>@Html.DisplayFor(m => m.Date)</b></p>
