@model HandleErrorInfo

@{
    ViewBag.Title = "Przepraszamy, mamy problem!";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RangeError</title>
</head>
<body>
    <h2>Przepraszamy</h2>
    <span>
        Wartość @(((ArgumentOutOfRangeException)Model.Exception).ActualValue)
        jest spoza oczekiwanego zakresu.
    </span>
    <div>
        @Html.ActionLink("Zmień wartość i spróbuj ponownie", "Index")
    </div>
</body>
</html>
